@import "/src/styles/variables";


.header {
  background-color: $second-background;
  color: $letter;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  
  flex: none;
  

  span {
    font-size: 12px;
  }

  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .optionsRight {
      justify-content: right;
      a {
        margin-top: 6px;
      }
    }
    .optionsLeft {
      justify-content: space-between;
      span {
        cursor: pointer;  
        filter: brightness(130%);
        &:hover {
          color: $third-background;
        }
      }

    }

    
  }
}
