@import "/src/styles/variables";

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-titles {
  border-bottom: 1;
  border-color: 'divider';
} 

