@import "/src/styles/variables";


.main {
  background-color: $primary-background;
  color: $letter;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  font-family: 'SignPainter';

  .number {
    font-size: 160px;
  }

  .phrase {
    font-size: 3rem;
    color: #9A9999;
  }

  .redirect {
    font-size: 30px;
    color: #E5E5E5;
    &:hover {
      color: $third-background;
      cursor: pointer;
    }
  }
}


