@import "/src/styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $primary-background;
  color: $letter;

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
  div {
    position: relative;
    width: 100vw;
    img {
      position: absolute;
      
      width: 100%;
      height: 100%;
      transform:scale(1.8)
    }
  }


}


