@import "/src/styles/variables";


.background {
  background-color: $second-background;
  color: $letter;
}

.option{
  &:hover {
    color: $third-background;
  }
}

.optionIcon {
  color: $letter;
  &:hover {
    color: $third-background;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
  div {
    position: relative;
    width: 100vw;
    img {
      position: absolute;
      
      width: 100%;
      height: 100%;
      transform:scale(1.8)
    }
  }
}