@import "/src/styles/variables";


.background {
  background-color: $second-background;
  color: $letter;
}

.option{
  &:hover {
    color: $third-background;
  }
}

.optionIcon {
  color: $letter;
  &:hover {
    color: $third-background;
  }
}